{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<p align = "center">
<h2 align = "center">Login</h2>
<form method="post" align = "center">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-default" align = "center">Login</button>
</form></p>


					<div class="w-full text-center p-t-27 p-b-239">
						<span class="txt1">
							Forgot
						</span>

						<a href="/accounts/password_reset" class="txt2">
							Username / Password?
						</a>
					</div>

					<div class="w-full text-center">
						<a href="/accounts/signup" class="txt3">
							Sign Up
						</a>
					</div>
				

				
	{% endblock %}
