<!DOCTYPE html>
<html lang="en">

<head>
	<title>Tinkerer's Laboratorys</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	
	<style type="text/css">
		html,
		body {
		  height:100%
		}
		form { 
margin: 0 auto; 
width:250px;
}
	</style>
</head>

<body class="body" style="background-color:#f6f6f6">
	<div class="jumbotron" style="min-height:95%; ">
		<div class="row">
			  <div class="col-sm-1">
				  <br>
				  <center>
					<img src="{% static 'personal/img/abeen.jpg' %}" class="img-responsive" style='max-height:100px;' alt="face">
				  </center>
			  </div>
			  <div class="col-sm-10">
				  <br>
				  <center>
				  <h3>Tinkerer's Laboratory</h3>
				  </center>
			  </div>
		</div><hr>

		
		  <div class="col-sm-10">
		  <div class="jumbotron jumbotron-fluid center">
			<div class='container-fluid'>
			<br><br>
			   {% block content %}
			   {% endblock %}	
			</div>
		  </div>
		  </div>
		</div> 
	</div>
	<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p> <a href="https://www.facebook.com/iitb.moodindigo/" target="blank">Facebook</a></p>
		</div>
	</footer>	

	
</body>

</html>