<!DOCTYPE html>
<html lang="en">

<head>
	<title>Tinkerer's Laboratory</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<style type="text/css">
		html,
		body {
		  height:100%
		}
		

	</style>
</head>

<body class="body" style="background-color:#f6f6f6">
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			  <div class="col-sm-2">
				  <br>
				  <center>
					<img src="{% static 'personal/img/profile.png' %}" class="img-responsive" style='max-height:100px;' alt="face">
				  </center>
			  </div>
			  <div class="col-sm-8">
				  <br>
				  <center>
				  <h2>Tinkerer's Laboratory</h2>
				  </center>
			  </div>
		</div><hr>

		<div class="row">
		  
		  <div class="col-sm-10">
		  
			<div class='jumbotron'>
			<br><br>
			   {% block content %}
			   {% endblock %}	
			</div>
		  </div>
		</div> 
	</div>
	<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p><a href="contact/" target="blank">Contact</a> |  <a href="https://twitter.com/iitb_moodi" target="blank">Twitter</a> | <a href="https://www.facebook.com/iitb.moodindigo/" target="blank">Facebook</a></p>
		</div>
	</footer>	

	
</body>

</html>