<!DOCTYPE html>
<html lang="en">

<head>
	<title>Tinkerer's Laboratory</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<style type="text/css">
		html,
		body {
		  height:100%
		}
		

	</style>
</head>

<body class="dashboard" style="background-color:#f6f6f6">
	
		

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name" align="center"><a href="#">Tinkerer's Laboratory</a></h1>

        </div>
  
    </div>

		<div class="row">
		  <div class="col-sm-12">
		  
			<div class='jumbotron' align="center">
			<br><br>
			   {% block content %}
			   {% endblock %}	
			</div>
		  </div>
		</div> 
	</div>
	<div id="container">
	<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p><a href="contact/" target="blank">Contact</a> |  <a href="https://twitter.com/iitb_moodi" target="blank">Twitter</a> | <a href="https://www.facebook.com/iitb.moodindigo/" target="blank">Facebook</a></p>
		</div>
	</footer>	

	
</body>

</html>